:root {
  --main-color: #06c;
  --color-bg: #f7f5f0;
  --color-lightblue: rgba(163, 205, 216, 1);
  --color-heath: rgba(255, 251, 230, 1);
  --color-saffron: rgba(242, 204, 56, 1);
  --color-indigo: rgba(80, 105, 212, 1);
  --color-tea: rgba(193, 184, 172, 1);
  --color-brown: rgb(120, 75, 55);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-behavior: smooth;
}
body {
  background: var(--color-bg);
  /* background: #ece7ce; */
  background: #e6e6e6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: hsla(0, 0%, 0%, 0.8); */
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overscroll-behavior-y: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;

  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.25rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}

:root {
  --color-main: #7d97b8;
  --color-second: #52a47e;
  --color-orange: #ff5200;
  --color-blue: #1043db;
  --color-green: rgb(74, 145, 125);
  --color-yellow: rgb(247, 198, 99);
  --color-highlight: rgba(250, 230, 45, 0.5);
}

body,
html {
  /* height: 100%; */
  /* width: 100%; */
  position: relative;
}

.header-inner {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-end;
}

.main-content {
  /* position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 300px;
  justify-content: center;
  position: relative;
  align-items: center; */
}
.main-content {
  padding-top: 3.5rem;
}

.scroll-text {
  font-family: "Georgia";
  font-size: 7rem;
  font-weight: 700;
  -webkit-text-stroke: 3px var(--color-blue);
  text-stroke: 3px var(--color-blue);
  white-space: nowrap;

  color: transparent;
  display: block;
  box-sizing: border-box;
}

@media screen and (min-width: 53em) {
  .main-content {
    /* height: 100%; */
  }
  .scroll-text {
    font-family: "Georgia";
    font-size: 12rem;
    font-weight: 700;
    -webkit-text-stroke: 3px var(--color-blue);
    text-stroke: 3px var(--color-blue);
    white-space: nowrap;

    color: transparent;
    display: block;
    box-sizing: border-box;
  }

  .outline-white {
    -webkit-text-stroke: 3px #eeeeee;
    text-stroke: 3px #eeeeee;
  }

  .outline-blue {
    -webkit-text-stroke: 3px var(--color-lightblue);
    text-stroke: 3px var(--color-lightblue);
  }

  .scroll-left {
    margin-left: -90vw;
  }
  .scroll-right {
    margin-right: -90vw;
    text-align: right;
  }
}
.grid {
  position: absolute;
  width: 120%;
  height: 120%;
  /* top: -10%; */
  left: -10%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  perspective: 1000px;
}

.pos-0 {
  --grid-row: 5;
  --grid-column: 18;
}

.pos-1 {
  --grid-row: 5;
  --grid-column: 26;
}

.pos-2 {
  --grid-row: 5;
  --grid-column: 34;
}

.pos-3 {
  --grid-row: 24;
  --grid-column: 18;
}

.pos-4 {
  --grid-row: 24;
  --grid-column: 26;
}

.pos-5 {
  --grid-row: 24;
  --grid-column: 34;
}

.grid-item {
  position: relative;
  will-change: transform;
  grid-area: var(--grid-row) / var(--grid-column) / span 13 / span 4;
  opacity: 0.25;
  filter: grayscale();
}

.center-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  align-items: start;
  /* position: absolute; */
  padding-top: 2rem;
}

.center-container .content {
  font-size: 40px;
  line-height: 1.5;
  /* position: absolute; */
  grid-column: 4/12;
  margin: 0;
  /* color: darkslategrey; */
}

.center-container .content .intro {
  font-size: 1.5rem;
  padding: 0 5vw;
  padding-left: 0;

  font-family: "Rubik";
  letter-spacing: -1px;
  opacity: 0.8;
}

.intro:after {
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 1px;
  display: block;
  margin-left: 5vw;
  margin-bottom: 0;
}

.choose {
  /* padding-left: 5vw; */
  font-family: "Montserrat";
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-orange);
  letter-spacing: 1.7px;
}

main {
  /* overflow: hidden; */
  /* height: 100%; */
}

.preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.preview__item {
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 5vw;
  display: grid;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  padding: 0 5vw;
  grid-template-columns: 47% 53%;
  grid-template-rows: minmax(max(5rem, 18vh), 1fr) auto auto 1fr;
  grid-template-areas:
    "... ..."
    "preview-back ..."
    "preview-title preview-title"
    "preview-img preview-content";
}

.preview__item-back {
  grid-area: preview-back;
  justify-self: start;
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 90px;
  margin-bottom: 1rem;
}

.preview__item-title {
  font-size: 80px;
  grid-area: preview-title;
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
}
/* 
.menu {
  display: flex;
} */

/* .menu a {
  opacity: 0.7;
  font-size: 18px;
  color: #3e3f3f;
  text-decoration: none;
  margin: 0 2px;
} */

.student-name {
  font-family: "Rubik";
  text-transform: uppercase;
  color: var(--color-main);
  grid-column: 8/15;
  grid-row: 5/20;
  font-size: 70px;
  flex-direction: column;
  line-height: 1.3;
}

/* .first-name {
  grid-column: 8/20;
  grid-row: 5/20;
}

.last-name {
  grid-column: 8/20;
  grid-row: 10/20;
} */

#___gatsby,
#gatsby-focus-wrapper {
  /* height: 100%; */
}

.preview__item-imgwrap {
  overflow: hidden;
  grid-area: preview-img;
  grid-row-start: preview-img;
  transform-origin: 50% 100%;
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  border-radius: 10px 10px 0 0;
}

.preview__item-content {
  grid-area: preview-content;
  max-width: calc(1100px - 80vh);
  min-height: 440px;
  line-height: 1.3;
}

.frame {
  padding: 1rem 5vw;
  position: relative;
  z-index: 1000;
  font-family: "Montserrat";
}

.logo-title {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: black;
}

.frame__links {
  display: inline-block;
}

.frame__links span {
  color: var(--color-orange);
  text-decoration: none;
  font-weight: 500;
}

.frame__links span:not(:last-child),
.frame__demos span:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (min-width: 53em) {
  .frame {
    /* position: fixed; */
    z-index: 100;
    /* top: 0; */
    /* left: 0; */
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    /* height: 100%; */
    padding: 1rem 1.5rem;
    grid-gap: 6vw;
    pointer-events: none;
    grid-template-columns: auto 1fr auto;
    /* grid-template-rows: auto auto auto; */
    grid-template-areas: "title links user";
  }
  .frame__title-wrap {
    grid-area: title;
    display: flex;
  }
  .logo-title {
    margin: 0;
  }
  .frame__tagline {
    position: relative;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
    opacity: 0.5;
  }
  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }
  .frame__links {
    grid-area: links;
    padding: 0;
  }
  .frame a {
    pointer-events: auto;
  }
  .frame__user {
    grid-area: user;
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (max-width: 53em) {
  .frame__links {
    font-size: 14px;
  }
}

.frame__user a {
  text-decoration: none;
  font-size: 1rem;
  color: #788087;
}

.subjects-menu {
  cursor: pointer;
  font-size: 1.5rem;
}

table,
.writing-row {
  grid-column: 5/10;
  z-index: 99;
}

table {
  font-size: 11px;
  margin: 0 auto;
}

.essay-img {
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.7rem;
}

.books-container {
  width: 70%;
  grid-template-columns: repeat(9, 1fr);
}

.headline-s {
  /* padding-left: 1rem; */
  padding-right: 3.5rem;
  width: 35%;
}

.headline-s p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.headline.headline-p {
  padding-bottom: 1rem;
  /* max-width: 90%; */
}

.headline-p p {
  font-size: 1.25rem;
}

.lg-value {
  font-size: 75px;
  display: block;
  margin-top: 1.5rem;
  font-weight: 600;
  /* color: var(--color-orange); */
  /* color: #ffc864; */
  /* color: rgb(220, 240, 207); */
  color: var(--color-blue);
}

.reading {
  align-items: baseline;
}

.row {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 1rem 0;
}

.headline h2 {
  font-size: 4rem;
  font-family: "Montserrat";
  font-weight: 400;
  /* color: #ffe9f3; */
  color: rgb(36, 36, 36);
}

.headline p {
  font-size: 2.2rem;
  font-weight: 600;
  width: 80%;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.values-item {
  width: 25%;
  font-weight: 600;
  font-family: "Montserrat";

  /* color: rgb(220, 240, 207); */
  color: var(--color-blue);
}

.values-item p {
  font-size: 14px;
}

/* .button__icon {
  display: inline-flex;
  justify-content: center;
  position: relative;
  margin: 0 0 0 4.167vw;
  width: 11.111vw;
  overflow: hidden;
  pointer-events: none;
}

.button__circle {
  position: absolute;
  width: 11.111vw;
  height: 11.111vw;
  overflow: visible;
  background-color: white;
  border-radius: 50%;
}

.button__svg {
  display: block;
  position: absolute;
  width: 4.278vw;
  height: 1.092vw;
  fill: none;
  stroke: darkgrey;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
@media (min-width: 768px) {
  .button__svg {
    width: 1.069vw;
    height: 0.273vw;
  }

  .button__icon,
  .button__circle {
    width: 2.778vw;
    height: 2.778vw;
    margin: 0 0 0 1.042vw;
  }
} */

.preview__item-back,
.back-arrow {
  grid-area: preview-back;
  justify-self: start;
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 90px;
  margin-bottom: 1rem;
  background: url(../images/arrow.svg) no-repeat 0% 50%;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.bg-circle {
  /*gradient */
  width: 120vw;
  height: 700px;
  z-index: -1;
  /* background: rgba(255, 159, 64, 0.4); */
  position: absolute;
  /* top: -15%; */
  top: 0;
  left: -10%;
}

.writing-wrapper .bg-circle {
  background: #9e9e4d;
}

.reading-wrapper .bg-circle {
  background: #114357; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to left,
    #114357,
    #f29492
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to left,
    #114357,
    #f29492 */
  /* ); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #cc95c0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chart-container {
  width: 100%;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.chart-container:before {
  content: "";
  position: absolute;
  background-size: auto;
  background-image: url("../images/arrow-blue.png");
  top: 120px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.chart-headline {
  font-size: 1.75rem;
  font-family: "Montserrat";
  text-align: center;
  position: relative;
}

.chart-wrapper {
  width: 580px;
  margin: 0 auto;
  padding-top: 2rem;
}

/* .arrow-bg {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  background-image: url("../images/arrow-blue.png");
  /* min-height: 500px; */
/* -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: translate(-50%) rotate(-90deg);
  background-size: contain; 
} */

/* .arrow-bg:before {
  content: "";
  background-image: url("../images//Curved_Arrow.svg");
} */
.sub-headline {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

.list-container {
  position: relative;
  /* margin-top: 4rem; */
  margin-bottom: 9rem;
  padding: 6rem 4rem;
  width: 50%;
}

.left {
  /* background: var(--color-green); */
  background: var(--color-blue);
}

.right {
  /* background: var(--color-yellow); */
  background: var(--color-saffron);
}

.list-wrap-s {
  /* position: absolute;
  left: 130px; */
  position: relative;
}

/* .list-wrap-w:before {
  content: "";
  position: absolute;
  background: url("../images/iconmonstr-smiley-6.svg");
  background-size: cover;
  left: 50%;
  top: 50%;
  display: block;
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  -webkit-animation: rotation 2s infinite linear;
} */

.rotate-img {
  position: absolute;
  right: 10%;
  top: 15%;
  display: block;
  /* width: 160px; */
  /* height: 160px; */
  width: 25%;
  transform: translate(-10%, -10%);
  opacity: 0.3;
  -webkit-animation: rotation 8s infinite linear;
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.face-s,
.face-w {
  position: absolute;

  width: 100px;
  height: 100px;
  background-size: cover;
  opacity: 0.2;
}

/* .list-wrap-s:before {
  content: "";
  background: url("../images/iconmonstr-smiley-2.svg");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
  opacity: 0.3;
} */

.list-wrap-s .sub-headline h4,
.list-wrap-w .sub-headline h4 {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-size: 1.95rem;
  font-weight: 300;
}

.list-item {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.item-s {
  /* color: rgba(255, 159, 64, 0.9); */
  color: var(--color-saffron);
}

.item-w {
  color: var(--color-blue);
}

.writing-wrapper,
.reading-wrapper {
  font-family: "Montserrat";
}

.grid-item-writing {
  grid-column: span 3;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.9);
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding: 0.4rem 1rem;
}

.link__graphic--stroke path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.link:hover .link__graphic--scribble path {
  transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
  transition-duration: 0.3s;
}

.link:hover .link__graphic--stroke path {
  stroke-dashoffset: 0;
}

.link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.link__graphic--scribble {
  top: 100%;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: var(--color-blue);
}

/* .marquee {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

/* .marquee:hover {
  transition-duration: 0.1s;
  opacity: 0;
} */

/* .marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  -webkit-text-stroke: 1.5px #000;
  text-stroke: 1.5px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
  font-size: 10vw;
  padding: 0 2vw;
}

.marquee:hover .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 1.5px #000;
  text-stroke: 1.5px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
} */

/* .menu__item-link::before {
  all: initial;
  font-family: sofia-pro, sans-serif;
  counter-increment: menu;
  content: counter(menu);
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.marquee span {
  font-style: italic;
} */

.menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 9vh 0 25vh;
  padding-top: 1vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 9vw;
  counter-reset: menu;
}

.menu__item {
  cursor: default;
  position: relative;
  padding: 0 5vw;
  padding-left: 0;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 1.5px #000;
  text-stroke: 1.5px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
}

.menu__item-link::before {
  all: initial;
  font-family: sofia-pro, sans-serif;
  counter-increment: menu;
  content: counter(menu);
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: color-burn;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

.marquee span {
  text-align: center;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
}

.marquee span {
  font-style: italic;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.closing {
  font-size: 85px;
  font-family: "Montserrat";
  position: relative;
  -webkit-text-stroke: 1.5px var(--color-main);
  text-stroke: 1.5px var(--color-main);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;

  font-weight: 500;
  font-style: italic;
}

.container {
  padding: 2.5rem 0.5rem;
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}
.reading-hero {
  /* background: linear-gradient(
    to right,
    rgb(122, 161, 210),
    rgb(219, 212, 180),
    rgb(204, 149, 192)
  ); */
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4 /* );  */
      /* background: linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4 */
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: rgb(16, 80, 153); */
  background: var(--color-lightblue);
}

.col-3 {
  width: 33.333%;
}

.comment-card {
  position: relative;
  border-radius: 5px;
  width: 500px;
  height: 100%;
  padding: 1.8rem;
  /* background: var(--color-green); */
  color: rgb(36, 36, 36);
  background-image: linear-gradient(
    to bottom,
    hsl(221.32, 65.94%, 55.1%) 0%,
    hsl(221.63, 65.55%, 56.03%) 8.1%,
    hsl(222.3, 64.58%, 58.42%) 15.5%,
    hsl(222.97, 63.31%, 61.61%) 22.5%,
    hsl(223.45, 61.91%, 65.17%) 29%,
    hsl(223.67, 60.48%, 68.84%) 35.3%,
    hsl(223.6, 59.04%, 72.48%) 41.2%,
    hsl(223.22, 57.6%, 75.98%) 47.1%,
    hsl(222.49, 56.14%, 79.27%) 52.9%,
    hsl(221.37, 54.65%, 82.3%) 58.8%,
    hsl(219.78, 53.08%, 85%) 64.7%,
    hsl(217.65, 51.44%, 87.34%) 71%,
    hsl(214.99, 49.74%, 89.26%) 77.5%,
    hsl(212.05, 48.11%, 90.72%) 84.5%,
    hsl(209.5, 46.84%, 91.64%) 91.9%,
    hsl(208.42, 46.34%, 91.96%) 100%
  );
}

.comment-card p {
  font-size: 16px;
}

.pencil-icon {
  width: 24px;
  margin-bottom: 0;
  margin-left: 0.8rem;
  opacity: 0.8;
}
.comment-card-icon-container {
  position: relative;
  display: flex;
  margin-bottom: 1.2rem;
}

/* .comment-card-icon-container:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #ff1201;
  right: 50px;
  top: 50%;
  position: absolute;
} */

.comment-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  line-height: 1.5;
  font-weight: 600;
}

.comment-title:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: rgb(36, 36, 36);
  left: 0;
  bottom: -10px;
  position: absolute;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.footer-inner > * {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Rubik";
}

.lg {
  font-size: 110%;
  background: rgba(244, 241, 222, 0.7);
  border-radius: 50%;
  padding: 0.7rem;
}

.old,
.new {
  width: 45%;
  padding-right: 2%;
}
.arrow-right {
  width: 5%;
}

.highlight {
  background: var(--color-highlight);
}

.red {
  color: rgba(224, 122, 95, 1);
  letter-spacing: 1.5px;
}

.img-wrapper {
  padding: 1.5rem;
  background: var(--color-lightblue);
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blue(1px);
}

.blur {
  filter: blur(1px);
}
.blur2 {
  filter: blur(3px);
}

.title-md {
  font-size: 1.25rem;
  text-align: center;
}

.sidebar {
  grid-column: 2/4;
  margin: 0;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 1rem;
}

.sidebar ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sidebar ul li span {
  font-weight: 600;
  color: darkslategrey;
  font-family: "Rubik";
}

.accent {
  padding-left: 12px;
  border-radius: 0px;
  background-image: url(../images/accent1.png);
  background-position: 70% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 600;
}

.one:before,
.two:before,
.three:before {
  display: block;
  font-size: 16px;
  color: var(--color-orange);
  letter-spacing: 1.7px;
  margin-bottom: 0;
  font-weight: 400;
}

.one:before {
  content: "Student";
}

.two:before {
  content: "Course";
}

.three:before {
  content: "Instructor";
}

/* background-image: linear-gradient(
0deg
,rgba(24,27,29,0),#372c30 45.31%,#87756a 75.52%,#f06529 99.8%); */

/* .forNow {
  linear-gradient(
    to bottom,
    hsl(221.32, 65.94%, 55.1%) 0%,
    hsl(221.63, 65.55%, 56.03%) 8.1%,
    hsl(222.3, 64.58%, 58.42%) 15.5%,
    hsl(222.97, 63.31%, 61.61%) 22.5%,
    hsl(223.45, 61.91%, 65.17%) 29%,
    hsl(223.67, 60.48%, 68.84%) 35.3%,
    hsl(223.6, 59.04%, 72.48%) 41.2%,
    hsl(223.22, 57.6%, 75.98%) 47.1%,
    hsl(222.49, 56.14%, 79.27%) 52.9%,
    hsl(221.37, 54.65%, 82.3%) 58.8%,
    hsl(219.78, 53.08%, 85%) 64.7%,
    hsl(217.65, 51.44%, 87.34%) 71%,
    hsl(214.99, 49.74%, 89.26%) 77.5%,
    hsl(212.05, 48.11%, 90.72%) 84.5%,
    hsl(209.5, 46.84%, 91.64%) 91.9%,
    hsl(208.42, 46.34%, 91.96%) 100%
  );
}; */

.item-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(228, 228, 228, 0.5);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.scroll-text {
  text-transform: uppercase;
  font-family: "Montserrat";
}

.relative {
  position: relative;
  overflow: hidden;
}

.absolute {
  position: absolute;
  bottom: 0;
  top: 0;
}

span.highlight1,
span.highlight2 {
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.highlight1:before,
.highlight2:before {
  content: "";
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-iteration-count: infinite;
  animation-delay: inherit;
}

.highlight1:before {
  content: "";
  position: absolute;
  background-color: yellow;
  box-shadow: 5px 0px 5px orange;
  animation-name: highlight-1;
  animation-iteration-count: infinite;
}

.highlight2:before {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: red;
  animation-name: highlight-1;
  animation-iteration-count: infinite;
}
.highlight2:before {
  /* // using the data-text method we can fully restyle the text */
  content: attr(data-text);
  position: absolute;
  z-index: 10;
  color: blue;
  background-color: yellow;
  text-shadow: 1px 0px 2px rgba(255, 0, 42, 0.5);
  overflow: hidden;
  white-space: pre;
  animation-name: highlight-1;
  animation-iteration-count: infinite;
}

/* p{
  &:nth-of-type(1) span:before{
    animation-delay: 0s;
  }
  &:nth-of-type(2) span:before{
    animation-delay: 1s;
  }
  &:nth-of-type(3) span:before{
    animation-delay: 2s;
    background-color: red;
    height: 2px;
    top: 50%;
  }
} */

@keyframes highlight-1 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
}

@keyframes highlight-2 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

section.part-section {
  background: var(--color-saffron);
}

/* LANDING page  */
.page-wrapper {
  font-family: "Rubik";
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-wrapper.page-wrapper-loader {
  display: block;
}

.landing-title {
  height: 100%;
  padding: 10rem 8rem;
  width: 48%;
}
.landing-title h2,
.landing-title span {
  color: var(--color-yellow);
  line-height: 1.5;
  font-weight: 300;
  font-family: "Rubik";
}
.landing-title h2 {
  font-size: 66px;
  text-transform: uppercase;
}

/* .landing-title span {
  font-size: 24px;
  position: relative;
  margin-right: 2rem;
  margin-left: 2rem;
  display: block;
}

.landing-title span:before,
.landing-title span:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: 50%;
  background: var(--color-yellow);
  display: inline-block;
  /* margin-left: 1rem;
  margin-left: 1rem; 
} */

/* .landing-title span:before {
  margin-right: -10px;
} */

.lines {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; /* making vertical centerign of all children */
}

.lines:before,
.lines:after {
  content: "";
  flex: 1 1 auto; /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */
  border-bottom: solid 1px var(--color-yellow);
}

.lines span {
  flex: 0 1 auto; /* the first digint is flex-grow: 0 */
  padding: 0 15px 0 15px;
  color: var(--color-yellow);
  font-size: 1.2rem;
}

.col-50 {
  width: 50%;
  position: relative;
}

.circle-wrapper {
  position: relative;
  /* height: 500px; */
  /* width: 50%; */
  position: absolute;
  height: 100%;
  width: 100%;
}

.circle-wrapper-loader {
  position: relative;
  width: 100%;
  height: 100%; /*for circle to be in center */
}

.circle {
  /* clip-path: circle(49.4% at 50% 50%);
  height: 100%;
  width: 120%;*/
  opacity: 0.6;

  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s all ease;
  overflow: hidden;
  transform-origin: center;
}

.circle:hover {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  z-index: 999;
  cursor: pointer;
}

.circle-1 {
  /* right: -25%; */
  z-index: 99;
  /* top: -18%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fceabb,
    #f8b500
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fceabb,
    #f8b500
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle-2 {
  top: 49%;
  right: 0;
  background: #ffb75e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffb75e,
    #ed8f03
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffb75e,
    #ed8f03
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.7;
}

.circle-2-loader:hover,
.circle-1-loader:hover {
  cursor: none;
  transform: none none !important;
}

.texture {
  background-image: url("../images/noisy-texure.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-link {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
}
.page-link h5 {
  font-family: "Montserrat";
  font-size: 2rem;
  letter-spacing: 1px;
}
.page-link span {
  font-family: "Montserrat";
  font-size: 1.5rem;
  margin-top: 1rem;
  display: block;
  letter-spacing: 1.5px;
}

.page-link:hover {
  color: #2e2e2e;
  opacity: 1;
  text-decoration: underline;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s all;
}

@media screen and (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;
  }
  .landing-title {
    height: 90%;
    padding: 2rem 8rem;
    width: 100%;
  }
  .landing-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }
  .lines span {
    font-size: 1.1rem;
  }
  .col-50 {
    width: 100%;
    height: 100%;
  }
  .circle {
    width: 250px;
    height: 250px;
  }
  .page-link h5 {
    font-family: "Montserrat";
    font-size: 1.25rem;
  }
  .page-link span {
    font-size: 1rem;
    margin-top: 1rem;
    display: block;
  }

  .circle-2 {
    right: -12%;
    top: 35%;
  }
}

.circle-1:hover {
  transition: 1.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.2) translate(-50%, -50%);
  opacity: 0.8;
}
.circle-2:hover {
  transition: 1.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.25) translate(-200px, -190px);
  opacity: 0.9;
}

@media screen and (max-width: 53em) {
  .headline h2 {
    font-size: 58px;
  }

  .headline p {
    font-size: 1.5rem;
  }
  .values-container {
    flex-wrap: wrap;
  }
  .values-item {
    width: 50%;
    padding-top: 2rem;
  }
  .lg-value {
    font-size: 60px;
  }
  /* .circle-1:hover {
    transition: 1.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.25) translate(-120px, 200px);
    opacity: 0.9;
  }
  .circle-2:hover {
    transition: 1.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.25) translate(-200px, -190px);
    opacity: 0.9;
  } */
}

.circle-1-loader {
  left: 0;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle-2-loader {
  /* right: 0;
  top: 0; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.report-card-img {
  padding: 1rem;
  margin: 0 auto;
  width: 600px;
  height: 700px;
  background-color: rgba(244, 241, 222, 0.7);
}

.best-wrapper {
  font-family: "Montserrat";
}

.essay-item {
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 4rem;
}

.rounded {
  border-radius: 16px;
}

.image-container {
  flex: 0 1 66.6666%;

  /* height: 66vw; */
  background-color: #788087;
  overflow: hidden;
  position: relative;
}

.intro-container {
  padding-right: 25%;
}

.intro-container p {
  line-height: 1.5;
  font-size: 20px;
}

.text-container {
  flex: 0 1 33.333%;
  padding: 0 2.5rem;
}

.text-title h4 {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0;
  margin-bottom: 1rem;
}

.text-title hr {
  background: hsla(0, 0%, 0%, 0.6);
}

.underline {
  /* border-bottom: 2px grey solid; */
  text-decoration: underline;
}

#label-2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media screen and (max-width: 53em) {
  .frame {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
  }
  #label-2 {
    display: none;
  }
  .frame__user {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .frame__user a {
    font-size: 0.8rem;
    display: flex;
    padding-left: 0.3rem;
  }
  .frame__user span {
    width: 20px;
  }
  .frame__user span img {
    width: 20px;
  }

  .intro:after {
    margin-left: 0;
  }
}

.user-img {
  margin-bottom: 0;
  margin-right: 6px;
  opacity: 0.8;
}

@media screen and (max-width: 53em) {
  .sidebar {
    grid-column: 1/5;
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    margin-top: 1rem;
  }

  .one:before,
  .two:before,
  .three:before {
    font-size: 11px;
    color: var(--color-orange);
    letter-spacing: 1.5px;
    margin-bottom: 0;
    font-weight: 400;
  }

  .center-container .content {
    font-size: 32px;
    line-height: 1.25;
    /* position: absolute; */
    grid-column: 5/13;
  }

  .center-container .content .intro {
    padding: 0;
    font-size: 1rem;
  }

  .accent {
    padding-left: 0;
  }
  .choose {
    font-size: 12px;
  }

  .menu {
    line-height: 1.5;
  }
  .menu__item {
    padding: 0;
  }
  .menu__item-link,
  .marquee span {
    font-size: 10vw;
  }
  .chart-container {
    padding-top: 2rem;
  }
  .chart-wrapper {
    width: 320px;
  }
  .chart-headline {
    font-size: 1.5rem;
  }
  .flex-m {
    flex-direction: column;
  }
  .list-container {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .highlight-sm {
    font-size: 14px;
  }
  .highlight-sm img {
    width: 20px;
  }
  .books-container {
    width: 100%;
    gap: 1.2rem;
  }
  .headline-s {
    width: 100%;
  }
  .headline-s p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
  }
  .grid-item-writing {
    padding: 0.2rem 0.5rem;
  }
  .closing {
    font-size: 75px;
  }
}

.desc {
  line-height: 1.5;
}

.accent-circle {
  position: absolute;
  left: -3%;
  top: -10%;
  right: 0;
  bottom: 0;
  width: 106%;
  height: 130%;
  border: 2px solid #ff80ed;
  border-radius: 50%;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.rel {
  position: relative;
}

/* report card (rc) */

.rc-grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  row-gap: 1.2rem;
}

.report-card-background {
  width: 900px;
  /* height: 1200px; */
  background: var(--color-bg);
  margin: 0 auto;
  border-radius: 20px;
  padding: 1rem 1rem;
}

@media only screen and (max-width: 768px) {
  .report-card-background {
    width: 100%;
  }
}

.rc-main {
  background: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.main-navigation {
  margin: 0 auto;
  font-family: "Rubik";
}

.primary-menu {
  justify-content: center;
}
.rc-intro-wrapper {
  font-family: "Rubik";
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rc-intro-top .flex {
  justify-content: space-around;
  align-items: center;
}

.rc-intro-bottom {
  padding: 1rem 3rem;
  padding-bottom: 0;
}

.rc-intro-text {
  background: #82c0cc;
  color: #eeeeee;
  padding: 1rem;
  border-radius: 8px;
}
.rc-intro-text p {
  font-size: 14px;
  margin-bottom: 0;
}

.name-lg {
  font-size: 2rem;
}

.reading-tab-wrapper {
  font-family: "Rubik";
}

.grid-6 {
  display: -ms-grid;
  display: grid;
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: "Rubik";
  grid-template-rows: repeat(4, auto);
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  row-gap: 1rem;
  text-align: center;
}

.header-1,
.header-2 {
  grid-row: 2;
  text-transform: uppercase;
  color: #3a6186;
  font-size: 15px;
}

.card-grid-item-1 {
  grid-column: 1 / span 1;
}
.card-grid-item-2 {
  grid-column: 2 / span 1;
}

.card-grid-item-1:first-of-type {
  grid-row: 2 / span 1;
}
.card-grid-item-1:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}
.card-grid-item-1:nth-of-type(3) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}
.card-grid-item-1:nth-of-type(4) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
}
.card-grid-item-1:nth-of-type(5) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}
.card-grid-item-2:nth-of-type(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}
.card-grid-item-2:nth-of-type(7) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}
.card-grid-item-2:nth-of-type(8) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}
.card-grid-item-2:nth-of-type(9) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
}
.card-grid-item-2:nth-of-type(10) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}

.card-grid-item-2 a,
.card-grid-item-1 span {
  color: #2e2e2e;
}

.subjects-menu {
  display: flex;
  list-style: none;
  justify-content: center;
}

.subjects-menu li {
  border-left: 1px solid rgba(165, 165, 165, 0.5);
  border-right: 1px solid rgba(165, 165, 165, 0.5);
  border-top: 1px solid rgba(165, 165, 165, 0.5);
  background: #eeeeee;
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(165, 165, 165, 0.5);
}

.subjects-menu li span {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2em;
  padding: 10px 2.5vw;
  color: #050505;
  color: var(--color-main);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  display: block;
  text-decoration: none;
}

.subjects-menu li a:hover {
  opacity: 0.5;
}
.subjects-menu li span:hover {
  text-decoration: underline;
}

.rc-row {
  width: 100%;
}

.rc-col {
  position: relative;
  padding-top: 0.7rem;
  /* width: 45%; */
  /* grid-column: 1/ span 6; */
}

.numbers {
  grid-row: 1;
  grid-column: col-start 2 / span 10;
}

.rc-col-1 {
  grid-column: col-start / span 5;
  grid-row: 2;
}
.rc-col-1-2 {
  grid-column: col-start 5 / span 4;
  grid-row: 2;
}
.rc-col-2 {
  grid-column: col-start 9 / span 4;
  grid-row: 2;
}
.rc-col-3 {
  grid-column: col-start / span 6;
  grid-row: 4;
}
.rc-col-4 {
  grid-column: col-start 7 / span 7;
  grid-row: 4;
}
.rc-col-5 {
  grid-column: col-start / span 5;
  grid-row: 5;
}
.rc-col-6 {
  grid-column: col-start / span 5;
  grid-row: 5;
}

.rc-col-6 {
  font-size: 14px;
}
.rc-col-7 {
  font-size: 14px;
  grid-column: col-start 6 / span 8;
  grid-row: 5;
}

@media only screen and (max-width: 768px) {
  .rc-col-1 {
    grid-column: col-start / span 5;
  }
  .rc-col-1-2 {
    grid-column: col-start 6 / span 6;
  }

  .rc-col-2 {
    grid-row: 3;
    grid-column: col-start / span 10;
  }
}

.comments-col .comment-wrapper .comment-card {
  width: 100%;
}
.comments-col
  .comment-wrapper
  .comment-card
  .comment-card-icon-container
  .comment-title {
  font-size: 15px;
}
.comments-col
  .comment-wrapper
  .comment-card
  .comment-card-icon-container
  .pencil-icon {
  width: 20px;
}
.comments-col .comment-wrapper .comment-card p {
  font-size: 14px;
}

.numbers {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  grid-column-start: 1;
  grid-column-end: 12;
}

@media only screen and (max-width: 768px) {
  .numbers {
    padding-top: 0;
  }
}

.rc-participation {
  /* grid-row: 5; */
  /* display: flex; */
  padding-left: 10px;
}

.reading-values {
  align-items: center;
}

.reading-values .values-item {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.rc .lg-value {
  font-size: 40px;
  letter-spacing: -1px;
  margin-top: 1rem;
}

.rc .label {
  font-size: 14px;
}
.text-sm {
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.rc-col .chart-container {
  padding-top: 0;
  padding-bottom: 1rem;
  width: 75%;
  margin: 0 auto;
}
.rc-col .chart-container.pie {
  padding-top: 0;
  padding-bottom: 1rem;
  width: 70%;
  margin: 0 auto;
}

.rc-col .chart-container:before {
  content: "";
  background: none;
}

.rc-col .chart-container .chart-wrapper {
  width: 100%;
  padding-top: 0;
}

.rc-col .books-container {
  width: 100%;
  gap: 1rem;
}

.rc-col .books-container .grid-item-writing span {
  line-height: normal;
  text-transform: none;
}

th {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.line--bottom,
.line--top {
  width: 100%;
  height: 2px;
}

.line--left,
.line--right {
  width: 2px;
  height: 100%;
}

.line--top {
  opacity: 0.5;
  display: block;
  position: absolute;
  z-index: 4;
  background-color: #82c0cc;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.line--left {
  opacity: 0.5;
  display: block;
  position: absolute;
  z-index: 4;
  background-color: #82c0cc;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  transition: transform 1.2s cubic-bezier(1, 0, 0, 1) 0.8s,
    background-color 0.4s linear,
    -webkit-transform 1.2s cubic-bezier(1, 0, 0, 1) 0.8s;
}

.header .title {
  font-family: "Rubik";
  margin-bottom: 1rem;
  font-size: 14px;
  text-align: center;
}

.rc-col .comment-wrapper .comment-card {
  background: #ffa62b;
  background: #489fb5;
  background: #a3cdd9;
  color: white;
  padding: 1.4rem;
}

.rc-col-2 .table-wrapper {
  margin-top: 0.5rem;
}

.rc-feedback {
  grid-row: 3;
  grid-column: 1 / span 12;
}

.rc-feedback .flex .left {
  background: #16697a;
  background: #506ad4;
}
.rc-feedback .flex .right {
  background: #ffa62b;
}
.rc-feedback.writing .flex .left {
  background: #9cc0cd;
}
.rc-feedback.writing .flex .right {
  background: #133543;
}
.rc-feedback .flex .list-container {
  margin: 0;
  padding: 1rem;
}
.rc-feedback .flex .list-container .rotate-img {
  width: 12%;
}
.rc-feedback .flex .list-container .list-wrap-s .sub-headline h4,
.rc-feedback .flex .list-container .list-wrap-w .sub-headline h4 {
  font-size: 0.9rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ede7e3;
}
.rc-feedback .flex .list-container .list-wrap-s > *,
.rc-feedback .flex .list-container .list-wrap-w > * {
  font-size: 13px;
}

.rc-feedback .flex .list-container .list-wrap-s .item-s {
  color: #ffa62b;
  font-weight: 500;
}
.rc-feedback .flex .list-container .list-wrap-w .item-w {
  color: #16697a;
  font-weight: 500;
}

.rc-participation .rc .values-item {
  width: 33.3333%;
}
.comments-and-feedback {
  padding-top: 1.5rem;
}

.cta-details {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: aliceblue;
  margin-top: 1rem;
}

.cta-details .row {
  text-align: center;
  font-family: "Montserrat";
}

.cta-details .row a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #506ad4;
}
.cta-details .row a:hover {
  opacity: 0.8;
  transition: ease-in 0.3s all;
  text-decoration: underline;
}

.active span {
  font-weight: 600;
  color: #4741e2 !important;
  background-color: #d8daef;
}

.rc-writing.rc-col-full {
  grid-column: col-start / span 12;
}
.rc-writing.rc-col-full.row-4 {
  grid-row: 4;
}
.rc-writing.rc-col-full.row-4 {
  grid-row: 5;
}
.rc-vocab.row-3 {
  grid-row: 3;
  grid-column: 1 / span 12;
}

.rc-vocab .flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rc-vocab.row-3 .gatsby-image-wrapper {
  width: 25%;
}
.rc-vocab.row-3 .flex-m {
  grid-column: 4 / span 5;
}

.rc-writing.row-6 {
  grid-row: 6;
}

.row-7 {
  grid-row: 7;
}

.rc-left {
  grid-column: col-start 1 / span 6;
  padding-left: 1rem;
}

.rc-left p {
  font-size: 14px;
}

.writing-values .values-item,
.writing-values .values-item .lg-value {
  color: #f08586;
}

.rc-col h4 {
  font-weight: 400;
  background: aliceblue;
  padding: 0.2rem;
  font-family: "Montserrat";
}

.vocab-values .values-item,
.vocab-values .values-item .lg-value {
  color: #133533;
}

.row-4 .gatsby-image-wrapper {
  width: 25%;
}

.grid-table {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

.grid-table > div {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted #ffa94d;
}

.grid-table .header {
  font-weight: 600;
}

.grid-table .title {
  font-size: 16px;
}

.grid-table .grade {
  font-size: 16px;
}
.flex-m {
  flex-direction: column;
}
.vocab-rc {
  grid-column: 4 / span 10;
}
